<%- include("header.ejs") %>

<div id="list_container">
    <table id="list" name="listtable">
        <% if (locals.year) { %>
            <% data.forEach(element => { %>
                <tr>
                    <td class="checkbox"><img class="chb_img" src="/img/unchecked.png"> <p class="written_task"><%= element.todotasktoday %></p></td>
                    
                </tr>
            
            <% })    %>
    
        <%  console.log("New task added succesfully!");  %>
        <%  } else {   %>
        <%     console.log("empty task");  %>
        <%  };   %> 
              
        </table>
      

    <form style="display: flex; align-items: center;" action="/today" method="POST">
        <input type="text" name="todaytask" placeholder="Write a task">
        <input id="plusButton" name="myButton" type="submit" value="+">
    </form>
</div>
    


<%- include("footer.ejs") %>